@{
    //load file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
        <div class="container">
            <div class="row ">
                <div class="col-12 d-table">
                    <div class="d-table-cell align-middle">

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <form class="form" method="post" action="@ViewBag.action"
                                        enctype="multipart/form-data">
                                 <div class="mb-3">
                                                <input type="text" name="idProduct" class="form-control form-control-lg d-none" value="@Model">
                                            </div>
                                <div class="mb-3">
                                            <label class="form-label">Photo</label>
                                            <input type="file" name="photo" class="form-control form-control-lg">
                                        </div>

                                        <div class="text-center mt-3">

                                            <button type="submit" class="btn btn-outline-dark">Hoàn Thành</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>